.recipe-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 20px;            /* Space between items */
    padding: 20px;
    justify-items: center; /* Center items within the grid cells */
}

/* Each recipe box */
.recipe-box {
    width: 100%; /* Allow the recipe box to take up the full width of the grid cell */
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.recipe-box img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.recipe-box h2 {
    margin: 10px;
    text-align: center;
    font-size: 18px;
    color: hotpink;
}

.recipe-box p {
    margin: 10px;
    font-size: 14px;
    color: #333;
}

/* Hover effect for recipe box */
.recipe-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Hidden by default */
.hidden {
    display: none;
}

/* Showing the steps on click */
.recipe-box.active .hidden {
    display: block;
}

/* Styling for the search container */
.search-container {
    background-color: transparent;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-container {
    background-image: linear-gradient(pink, white);
    border-width: 4px;
    border-color: darkgray;
    border-radius: 2px;
    max-width: 250px;
}