html, body{ 
  	.wrapper {
  		width: 100%;
  		max-width: 1200px;
  		padding: 20px;
  		box-sizing: border-box;
  		display: flex;
  		justify-content: flex-start;
  		height: 100vh;
  	}
	.content h3 {
  		flex: 1;
  		padding: 300px;
  		text-align: center;
  		justify-content: center;
  		box-sizing: border-box;
  	}

  	.logo-container {
  		margin-right: 20px; 
  		margin-top: 30px;
  	}
}